:root {
  --ion-color-primary: #EB6017;
  --ion-color-primary-rgb: 235,96,23;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #cf5414;
  --ion-color-primary-tint: #ed702e;
}
